h1 {
  margin-top: 40px;
  text-align: center;
}

ul {
  background-color: #1c1f2560;
  height: 80vh;
  border-radius: 30px;
  padding: 30px 60px;
}

li {
  padding: 10px 0px;
  font-size: 18px;
}

#add-task-button {
  display: flex;
  place-items: center;
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  border: solid 2px #fff;
  padding: 10px 10px;
  border-radius: 100px;
}

#todo-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f232eef;
  border: solid 4px #fff;
  border-radius: 35px;
  padding: 40px 20px;
}

#todo-input{
  font-weight: 700;
  border: solid 4px #fff;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  font-size: 16px;
}

#todo-form button, #todo-submit {
  display: flex;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
}

#todo-submit {
  background-color: #5c689e;
}

#buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0px 10px;
}